Repository CMPUT301F24throat/throat-events, pull requests merged in 2024-11, with the labels that each got.

#129 Admin View Setup
  app/src/main/java/com/example/pickme/views/AdminToolsFragment.java
  app/src/main/java/com/example/pickme/views/MainActivity.java
  app/src/main/res/drawable/ic_eye.xml
  app/src/main/res/layout/fragment_admin_tools.xml
  app/src/main/res/layout/user_signup.xml
  app/src/main/res/menu/bottom_nav_menu.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: feature, Architecture

#132 WaitingList Backend + Project Cleanup
  app/src/main/java/com/example/pickme/controllers/EventViewModel.java
  app/src/main/java/com/example/pickme/models/Enums/EntrantStatus.java
  app/src/main/java/com/example/pickme/models/Enums/ImageType.java
  app/src/main/java/com/example/pickme/models/Enums/NotificationType.java
  app/src/main/java/com/example/pickme/models/Enums/Status.java
  app/src/main/java/com/example/pickme/models/Enums/WaitingListStatus.java
  app/src/main/java/com/example/pickme/models/Event.java
  app/src/main/java/com/example/pickme/models/Facility.java
  app/src/main/java/com/example/pickme/models/WaitingList.java
  app/src/main/java/com/example/pickme/models/WaitingListEntrant.java
  app/src/main/java/com/example/pickme/repositories/EventRepository.java
  app/src/main/java/com/example/pickme/repositories/QrRepository.java
  app/src/main/java/com/example/pickme/repositories/WaitingListEntrantRepository.java
  app/src/main/java/com/example/pickme/utils/LotteryUtils.java
  app/src/main/java/com/example/pickme/utils/NotificationHelper.java
  app/src/main/java/com/example/pickme/utils/QRCodeGenerator.java
  app/src/main/java/com/example/pickme/utils/WaitingListUtils.java
  app/src/main/java/com/example/pickme/views/EventCreationFragment.java
  app/src/main/java/com/example/pickme/views/EventDetailsFragment.java
  app/src/main/java/com/example/pickme/views/EventSignUpFragment.java
  app/src/main/java/com/example/pickme/views/EventWaitingListFragment.java
  app/src/main/java/com/example/pickme/views/HomeFragment.java
  app/src/main/java/com/example/pickme/views/LotteryOverviewFragment.java
  app/src/main/java/com/example/pickme/views/LotteryRunDialog.java
  app/src/main/java/com/example/pickme/views/LotteryWinnersFragment.java
  app/src/main/java/com/example/pickme/views/MainActivity.java
  app/src/main/java/com/example/pickme/views/MyEventsFragment.java
  app/src/main/java/com/example/pickme/views/QRCodeViewFragment.java
  app/src/main/java/com/example/pickme/views/UserProfileEditFragment.java
  app/src/main/java/com/example/pickme/views/UserSignUpFragment.java
  app/src/main/res/layout/dialog_lottery_run.xml
  app/src/main/res/layout/event_waitinglist.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/lottery_overview.xml
  app/src/main/res/layout/lottery_winners.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/test/java/com/example/pickme/models/EventTest.java
  app/src/test/java/com/example/pickme/models/UserTest.java
Labels: Event, Registration

#148 Mr. Clean and his Swifter Sweeper going around fixing and cleaning User-
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/pickme/models/Image.java
  app/src/main/java/com/example/pickme/models/User.java
  app/src/main/java/com/example/pickme/repositories/UserRepository.java
  app/src/main/java/com/example/pickme/views/UserProfileEditFragment.java
  app/src/main/java/com/example/pickme/views/UserProfileFragment.java
  app/src/main/java/com/example/pickme/views/UserSignUpFragment.java
  app/src/main/res/drawable/default_profile_picture.xml
  app/src/main/res/layout/facility_create.xml
  app/src/main/res/layout/user_profile.xml
  app/src/main/res/layout/user_profile_edit.xml
  app/src/main/res/layout/user_signup.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/test/java/com/example/pickme/models/UserTest.java
  gradle/libs.versions.toml
Labels: Image, User
